body {
  background-color: #000;
}

.bg-img {
	position: absolute;
}

/* Header */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 15px 0;
	z-index: 10;
	background-color: #000;
}

.header_menu {
	text-align: center;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 40px;
}

.header_menu ul li a {
	color: #9F9F9F;
	font-weight: bold;
	letter-spacing: .1em;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 30px;
}

.header_menu ul li a:hover {
	color: #FFF;
}

.header_menu ul li a.ativo {
	color: #FFF;
}

/* Final Header */

/* Inicio da introcução do site */

.introducao {
	font-family: Josefin Sans;
	font-size: 70px;
	line-height: 70px;
	margin-top: 200px;
	text-align: center;
}

.introducao_p {
	margin-top: 28px;
	margin-bottom: 40px;
	font-size: 20px;
	color: #DAD7D7;
	text-align: center;
	font-weight: 400;
}

/* Botões front page */
.btn {
	display: flex;
	flex: 1;
	justify-content: center;
	margin-bottom: 140px;
}

.btn_primary {
	font-size: 18px;
	font-weight: 500;
	width: 150px;
	height: 49px;
	background-image: linear-gradient(to right, #244C60, #72B9C6);
	color: #FFF;
	border: none;
	margin-right: 30px;

	&:hover {
		background-image: linear-gradient(to right, #fff, #D1EBF3);
		border: none;
		color: #000;
		transition: 0.30s;
	}

	&:hover a {
		color: #000;
	}
}

.btn_secondary {
	font-size: 18px;
	font-weight: 500;
	width: 150px;
	height: 49px;
	background-color: transparent;
	color: #437B8E;
	border: 1px solid #437B8E;

	&:hover {
		background-color: #244C60;
		color: #fff;
		border: #244C60;
		transition: 0.30s;
	}
}

.btn_secondary a {
	color: #437B8E;
	&:hover {
		color: #fff;
	}
}

/* Segunda sessão do site */

.quadrado {
  width: 543px !important;
  height: 493px;
  background-image: linear-gradient(to right, #244C60, #72B9C6);
	justify-content: center;
	margin-top: 75px !important;
	margin-bottom: 80px !important;
	border-radius: 50px;
}

.img_quadrado {
	padding: 200px;
	width: 100%;
}

.background-svg {
	position: absolute;
	top: 0;
	right: -660px;
	pointer-events: none;
}

.texto_play {
	font-size: 80px;
	font-weight: 700;
	position: absolute;
	text-transform: uppercase;
	right: -255px;
	bottom: 295px;
}

.texto_show {
	font-size: 80px;
	font-weight: 700;
	position: absolute;
	text-transform: uppercase;
	left: -120px;
	bottom: -77px;
}

.texto_stream {
	width: 373px;
	margin-left: 216px;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 27px;
	color: #DAD7D7;
}

.texto_link {
	width: 373px;
	margin-left: 216px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
}

.bg_img_fundo {
	margin-top: 300px;
	height: 690px;
	background-image: url(../img/Section\ 3\ Background\ Image.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5); 
	-webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1.1) 28%, rgba(0, 0, 0, 0) 70%);
  mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
}

.faca_amigos {
	border: 1 px solid #000;
	text-transform: uppercase;
	font-weight: 700;
	opacity: 1 !important;
}

.button-container {
  display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	width: 250px;
	height: 49px;
	background-color: #5b67f6;
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 7px;

	&:hover {
		background-image: linear-gradient(to right, #fff, #D1EBF3);
		border: none;
		color: #000;
		transition: 0.30s;
	}

	&:hover a {
		color: #000;
	}
}

/* variables */
:root {
  /* colors */
  --ta0-color-primary-hsl: 250, 84%, 54%;
  --ta0-color-bg-hsl: 0, 0%, 100%;
  --ta0-color-contrast-high-hsl: 230, 7%, 23%;
  --ta0-color-contrast-higher-hsl: 230, 13%, 9%;
  --ta0-color-contrast-lower-hsl: 240, 4%, 85%;
  --ta0-color-contrast-low-hsl: 240, 4%, 65%;
  --ta0-color-contrast-medium-hsl: 225, 4%, 47%;

  /* spacing */
  --ta0-space-4xs: 0.125rem;
  --ta0-space-3xs: 0.25rem;
  --ta0-space-2xs: 0.375rem;
  --ta0-space-sm: 0.75rem;
  --ta0-space-md: 1.25rem;
  --ta0-space-lg: 2rem;

  /* typography */
  --ta0-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --ta0-space-4xs: 0.1875rem;
    --ta0-space-3xs: 0.375rem;
    --ta0-space-2xs: 0.5625rem;
    --ta0-space-sm: 1.125rem;
    --ta0-space-md: 2rem;
    --ta0-space-lg: 3.125rem;

    /* typography */
    --ta0-text-sm: 1rem;
  }
}

/* icons */
.ta0-icon {
  height: var(--ta0-size, 1em);
  width: var(--ta0-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.ta0-icon--xl {
  --ta0-size: 64px;
}

/* component */


/* utility classes */
.ta0-margin-top-4xs {
  margin-top: var(--ta0-space-4xs);
}

.ta0-color-contrast-medium {
  --ta0-color-o: 1;
  color: hsla(var(--ta0-color-contrast-medium-hsl), var(--ta0-color-o, 1));
}

.ta0-block {
  display: block;
}

.ta0-text-sm {
  font-size: var(--ta0-text-sm);
}

.ta0-border {
  --ta0-border-o: 1;
  border: var(--ta0-border-width, 1px) var(--ta0-border-style, solid) hsla(var(--ta0-color-contrast-lower-hsl), var(--ta0-border-o, 1));
}

.ta0-radius-50\% {
  border-radius: 50%;
}

.ta0-height-lg {
  height: 6rem;
}

.ta0-width-lg {
  width: 6rem;
}

.ta0-margin-bottom-3xs {
  margin-bottom: var(--ta0-space-3xs);
}

.ta0-flex-shrink-0 {
  flex-shrink: 0;
}

.ta0-items-center {
  align-items: center;
}

.ta0-flex-column {
  flex-direction: column;
}

.ta0-flex {
  display: flex;
}

.ta0-margin-bottom-md {
  margin-bottom: var(--ta0-space-md);
}

.ta0-line-height-md {
  line-height: 1.4;
}

.ta0-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.ta0-margin-bottom-sm {
  margin-bottom: var(--ta0-space-sm);
}

.ta0-text-center {
  text-align: center;
}

.ta0-padding-md {
  padding: var(--ta0-space-md);
}

.ta0-radius-md {
  border-radius: 0.25em;
}

.ta0-bg-contrast-lower {
  --ta0-bg-o: 1;
  background-color: hsla(var(--ta0-color-contrast-lower-hsl), var(--ta0-bg-o, 1));
}

.ta0-gap-sm {
  gap: var(--ta0-space-sm);
}

.ta0-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.ta0-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.ta0-margin-bottom-lg {
  margin-bottom: var(--ta0-space-lg);
}

.ta0-max-width-adaptive-lg {
  max-width: 32rem;
}

@media(min-width: 48rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 48rem;
  }
}

@media(min-width: 64rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 64rem;
  }
}

@media(min-width: 80rem) {
  .ta0-max-width-adaptive-lg {
    max-width: 80rem;
  }
}

.ta0-container {
  width: calc(100% - 2*var(--ta0-space-md));
  margin-left: auto;
  margin-right: auto;
}

.ta0-margin-right-2xs {
  margin-right: var(--ta0-space-2xs);
}

.ta0-flex-wrap {
  flex-wrap: wrap;
}

.ta0-margin-bottom-2xs {
  margin-bottom: var(--ta0-space-2xs);
}

.ta0-color-contrast-low {
  --ta0-color-o: 1;
  color: #fff;
}

.ta0-margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.ta0-border-2 {
  --ta0-border-width: 2px;
}

.ta0-border-bg {
  --ta0-border-o: 1;
  border-color: hsla(var(--ta0-color-bg-hsl), var(--ta0-border-o, 1));
}

.ta0-bg-opacity-30\% {
  --ta0-bg-o: 0.3;
}

.ta0-bg-opacity-50\% {
  --ta0-bg-o: 0.5;
}

@media(min-width: 64rem){
  .ta0-margin-top-auto\@md {
    margin-top: auto;
  }

  .ta0-flex-column\@md {
    flex-direction: column;
  }

  .ta0-flex\@md {
    display: flex;
  }

  .ta0-col-4\@md {
    grid-column-end: span 4;
  }
}

.bg-twitch {
	background-color: #c39cff;
}

.font-twitch {
	font-family: 'Josefin Sans';
	color: #fff;
	font-weight: 700;
}